<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Coding classes | HackSoc</title>
    <!-- TODO: UPDATE THIS -->
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
    <div id="body">
      <section id="codingClasses">
        <div class="container">
        </div> <!-- end of container -->
      </section>
    </div>
    <% include ../partials/footer.ejs %>
  </div>
</body>
<footer>
</footer>

</html>