<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Contact | HackSoc</title>
    <link rel="stylesheet" type="text/css" href="/css/contact.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
      <div id="body">
        <section id="contact">
          <h1>Contact</h1>
          <% include ../partials/contactForm.ejs %>
        </section>
      </div>
      <% include ../partials/footer.ejs %>
  </div>
</body>

</html>